/* Please Make only Rhino and Zebra Blue */

.top {
    color: blue;
}

/* Please Make only Hufflepuff Gold */

#bestHouse {
    color: gold;
}

/* Please select Duck with the highest level of specificity possible */

body > article > h2 {
    color: green;
}

/* Please select Rhino with the highest level of specificity possible */

body > section > #rhino {
    color: red;
}